<% content_for :title, t("articles.edit.title") %>

<div class="form-container">
  <div class="form-header">
    <h1 class="page-title"><%= t("articles.edit.title") %></h1>
    <p class="form-subtitle"><%= t("articles.edit.description") %></p>
  </div>

  <div class="form-card">
    <%= render "form", article: @article %>
  </div>

  <div class="form-footer flex-footer">
    <%= link_to @article, class: "btn-back-link" do %>
      <%= embedded_svg("eye") %>
      <%= t("articles.edit.show") %>
    <% end %>
    <span class="divider">|</span>
    <%= link_to articles_path, class: "btn-back-link" do %>
      <%= embedded_svg("arrow-left") %>
      <%= t("articles.edit.back") %>
    <% end %>
  </div>
</div>
